{%  extends 'base.html' %}

{% block section %}
    <h1>Wlecome to the Django !!!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, pariatur!</p>

    {% if photos_list|length > 0 %}
        <h2>Últimas imágenes!</h2>

        {% for photo in photos_list %}
            <a href="{% url 'photo_detail' photo.pk %}">
                <img src="{{ photo.url }}" alt="{{ photo.name }}" height="150">
            </a>
        {% endfor %}
    {% else %}
        Aún no hay fotos !
    {% endif %}

{% endblock %}
